@font-face {
	font-family:"Hacen Egypt";
	font-style:normal;
	font-weight:normal;
	src : url("../font/HacenEgypt.TTF");
}
@font-face {
	font-family:"Hacen Liner Print-out Light";
	font-style:normal;
	font-weight:normal;
	src : url("../font/HacenLinerPrint-outLight.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Hacen Liner Print-out Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#00afec;
	font-family:"Hacen Egypt", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Hacen Liner Print-out Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#0086c9;
	font-family:"Hacen Egypt", sans-serif;
	font-size:720px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer339 {
	height:750px;
	left:0px;
	position:absolute;
	top:0px;
	width:1334px;
}
#_idContainer001 {
	-webkit-transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:381px;
	left:669px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:669px;
}
#_idContainer002 {
	height:73px;
	left:585px;
	position:absolute;
	top:308px;
	width:84px;
}
#_idContainer003 {
	height:381px;
	left:624px;
	position:absolute;
	top:220px;
	width:669px;
}
#_idContainer004, #_idContainer021, #_idContainer025 {
	height:9px;
	left:0px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer005, #_idContainer022 {
	height:9px;
	left:10px;
	position:absolute;
	top:0px;
	width:10px;
}
#_idContainer006 {
	height:9px;
	left:20px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer007 {
	height:10px;
	left:36px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer008 {
	height:10px;
	left:46px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer009 {
	height:9px;
	left:56px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer010 {
	height:9px;
	left:64px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer011 {
	height:10px;
	left:74px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer012 {
	height:9px;
	left:85px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer013, #_idContainer035 {
	height:9px;
	left:95px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer014 {
	height:10px;
	left:110px;
	position:absolute;
	top:0px;
	width:8px;
}
#_idContainer015 {
	height:9px;
	left:120px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer016 {
	height:9px;
	left:135px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer017 {
	height:9px;
	left:143px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer018 {
	height:9px;
	left:153px;
	position:absolute;
	top:0px;
	width:10px;
}
#_idContainer019 {
	height:9px;
	left:164px;
	position:absolute;
	top:0px;
	width:8px;
}
#_idContainer020 {
	height:10px;
	left:0px;
	position:absolute;
	top:0px;
	width:172px;
}
#_idContainer023 {
	height:9px;
	left:21px;
	position:absolute;
	top:0px;
	width:8px;
}
#_idContainer024 {
	height:9px;
	left:0px;
	position:absolute;
	top:0px;
	width:29px;
}
#_idContainer026 {
	height:9px;
	left:10px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer027 {
	height:9px;
	left:18px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer028 {
	height:10px;
	left:26px;
	position:absolute;
	top:0px;
	width:8px;
}
#_idContainer029 {
	height:10px;
	left:36px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer030 {
	height:9px;
	left:47px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer031 {
	height:10px;
	left:58px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer032 {
	height:9px;
	left:66px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer033 {
	height:9px;
	left:74px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer034 {
	height:4px;
	left:84px;
	position:absolute;
	top:7px;
	width:2px;
}
#_idContainer036 {
	height:9px;
	left:103px;
	position:absolute;
	top:0px;
	width:9px;
}
#_idContainer037 {
	height:10px;
	left:115px;
	position:absolute;
	top:0px;
	width:7px;
}
#_idContainer038 {
	height:11px;
	left:37px;
	position:absolute;
	top:0px;
	width:122px;
}
#_idContainer039 {
	height:11px;
	left:0px;
	position:absolute;
	top:16px;
	width:159px;
}
#_idContainer040 {
	height:27px;
	left:50px;
	position:absolute;
	top:7px;
	width:172px;
}
#_idContainer041 {
	height:11px;
	left:19px;
	position:absolute;
	top:28px;
	width:2px;
}
#_idContainer042 {
	height:13px;
	left:19px;
	position:absolute;
	top:8px;
	width:2px;
}
#_idContainer043 {
	height:5px;
	left:33px;
	position:absolute;
	top:17px;
	width:3px;
}
#_idContainer044 {
	height:2px;
	left:9px;
	position:absolute;
	top:8px;
	width:11px;
}
#_idContainer045 {
	height:2px;
	left:21px;
	position:absolute;
	top:8px;
	width:11px;
}
#_idContainer046 {
	height:2px;
	left:6px;
	position:absolute;
	top:13px;
	width:14px;
}
#_idContainer047 {
	height:2px;
	left:21px;
	position:absolute;
	top:13px;
	width:14px;
}
#_idContainer048 {
	height:2px;
	left:21px;
	position:absolute;
	top:19px;
	width:14px;
}
#_idContainer049 {
	height:2px;
	left:5px;
	position:absolute;
	top:19px;
	width:14px;
}
#_idContainer050 {
	height:2px;
	left:2px;
	position:absolute;
	top:24px;
	width:36px;
}
#_idContainer051 {
	height:2px;
	left:9px;
	position:absolute;
	top:30px;
	width:23px;
}
#_idContainer052 {
	height:11px;
	left:2px;
	position:absolute;
	top:30px;
	width:37px;
}
#_idContainer053 {
	height:27px;
	left:0px;
	position:absolute;
	top:0px;
	width:41px;
}
#_idContainer054 {
	height:41px;
	left:0px;
	position:absolute;
	top:0px;
	width:41px;
}
#_idContainer055 {
	height:41px;
	left:57px;
	position:absolute;
	top:58px;
	width:222px;
}
#_idContainer056 {
	height:47px;
	left:0px;
	position:absolute;
	top:0px;
	width:36px;
}
#_idContainer057 {
	height:5px;
	left:10px;
	position:absolute;
	top:54px;
	width:15px;
}
#_idContainer058 {
	height:59px;
	left:558px;
	position:absolute;
	top:541px;
	width:36px;
}
#_idContainer059 {
	height:79px;
	left:143px;
	position:absolute;
	top:478px;
	width:459px;
}
#_idContainer060 {
	height:78px;
	left:691px;
	position:absolute;
	top:279px;
	width:542px;
}
#_idContainer061 {
	height:56px;
	left:866px;
	position:absolute;
	top:392px;
	width:308px;
}
#_idContainer062 {
	height:56px;
	left:750px;
	position:absolute;
	top:469px;
	width:424px;
}
#_idContainer063 {
	height:24px;
	left:142px;
	position:absolute;
	top:646px;
	width:215px;
}
#_idContainer064 {
	height:36px;
	left:154px;
	position:absolute;
	top:490px;
	width:426px;
}
#_idContainer065 {
	height:51px;
	left:769px;
	position:absolute;
	top:72px;
	width:487px;
}
#_idContainer066 {
	height:484px;
	left:697px;
	position:absolute;
	top:192px;
	width:560px;
}
#_idContainer067 {
	height:484px;
	left:77px;
	position:absolute;
	top:192px;
	width:560px;
}
#_idContainer068 {
	height:650px;
	left:88px;
	position:absolute;
	top:56px;
	width:579px;
}
#_idContainer069, #_idContainer330 {
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42px;
	left:43px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:88px;
}
#_idContainer070, #_idContainer331 {
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14px;
	left:14px;
	position:absolute;
	top:73px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:15px;
}
#_idContainer071, #_idContainer332 {
	height:88px;
	left:0px;
	position:absolute;
	top:0px;
	width:43px;
}
#_idContainer072, #_idContainer082, #_idContainer094, #_idContainer106, #_idContainer118, #_idContainer127, #_idContainer139, #_idContainer151, #_idContainer163, #_idContainer175, #_idContainer187, #_idContainer199, #_idContainer211, #_idContainer223, #_idContainer235, #_idContainer247, #_idContainer259, #_idContainer271, #_idContainer283, #_idContainer296, #_idContainer308, #_idContainer320, #_idContainer333 {
	height:26px;
	left:0px;
	position:absolute;
	top:0px;
	width:20px;
}
#_idContainer073, #_idContainer083, #_idContainer095, #_idContainer107, #_idContainer119, #_idContainer128, #_idContainer140, #_idContainer152, #_idContainer164, #_idContainer176, #_idContainer188, #_idContainer200, #_idContainer212, #_idContainer224, #_idContainer236, #_idContainer248, #_idContainer260, #_idContainer272, #_idContainer284, #_idContainer297, #_idContainer309, #_idContainer321, #_idContainer334 {
	height:3px;
	left:6px;
	position:absolute;
	top:30px;
	width:9px;
}
#_idContainer074, #_idContainer335 {
	height:33px;
	left:11px;
	position:absolute;
	top:20px;
	width:20px;
}
#_idContainer075 {
	height:88px;
	left:1214px;
	position:absolute;
	top:75px;
	width:43px;
}
#_idContainer076 {
	height:51px;
	left:711px;
	position:absolute;
	top:72px;
	width:487px;
}
#_idContainer077 {
	height:17px;
	left:787px;
	position:absolute;
	top:134px;
	width:411px;
}
#_idContainer078, #_idContainer090, #_idContainer102, #_idContainer114 {
	height:22px;
	left:949px;
	position:absolute;
	top:93px;
	width:141px;
}
#_idContainer079, #_idContainer091, #_idContainer103, #_idContainer115, #_idContainer124, #_idContainer136, #_idContainer148, #_idContainer160, #_idContainer172, #_idContainer184, #_idContainer196, #_idContainer208, #_idContainer220, #_idContainer232, #_idContainer244, #_idContainer256, #_idContainer268, #_idContainer280, #_idContainer293, #_idContainer305, #_idContainer317 {
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42px;
	left:43px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:59px;
}
#_idContainer080, #_idContainer092, #_idContainer104, #_idContainer116, #_idContainer125, #_idContainer137, #_idContainer149, #_idContainer161, #_idContainer173, #_idContainer185, #_idContainer197, #_idContainer209, #_idContainer221, #_idContainer233, #_idContainer245, #_idContainer257, #_idContainer269, #_idContainer281, #_idContainer294, #_idContainer306, #_idContainer318 {
	-webkit-transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14px;
	left:14px;
	position:absolute;
	top:45px;
	transform:translate(0.000px,0.000px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:15px;
}
#_idContainer081, #_idContainer093, #_idContainer105, #_idContainer117, #_idContainer126, #_idContainer138, #_idContainer150, #_idContainer162, #_idContainer174, #_idContainer186, #_idContainer198, #_idContainer210, #_idContainer222, #_idContainer234, #_idContainer246, #_idContainer258, #_idContainer270, #_idContainer282, #_idContainer295, #_idContainer307, #_idContainer319 {
	height:60px;
	left:1214px;
	position:absolute;
	top:75px;
	width:43px;
}
#_idContainer084, #_idContainer096, #_idContainer108, #_idContainer120, #_idContainer129, #_idContainer141, #_idContainer153, #_idContainer165, #_idContainer177, #_idContainer189, #_idContainer201, #_idContainer213, #_idContainer225, #_idContainer237, #_idContainer249, #_idContainer261, #_idContainer273, #_idContainer285, #_idContainer298, #_idContainer310, #_idContainer322 {
	height:33px;
	left:1226px;
	position:absolute;
	top:86px;
	width:20px;
}
#_idContainer085, #_idContainer097, #_idContainer109, #_idContainer121 {
	height:51px;
	left:1095px;
	position:absolute;
	top:75px;
	width:101px;
}
#_idContainer086, #_idContainer132, #_idContainer156, #_idContainer180, #_idContainer204, #_idContainer228, #_idContainer252, #_idContainer288, #_idContainer313 {
	height:750px;
	left:0px;
	position:absolute;
	top:0px;
	width:678px;
}
#_idContainer087 {
	height:475px;
	left:597px;
	position:absolute;
	top:175px;
	width:660px;
}
#_idContainer088, #_idContainer134, #_idContainer158, #_idContainer182, #_idContainer206, #_idContainer230, #_idContainer254, #_idContainer291, #_idContainer315 {
	height:508px;
	left:77px;
	position:absolute;
	top:168px;
	width:477px;
}
#_idContainer089 {
	height:51px;
	left:536px;
	position:absolute;
	top:68px;
	width:101px;
}
#_idContainer098, #_idContainer110 {
	height:376px;
	left:130px;
	position:absolute;
	top:195px;
	width:512px;
}
#_idContainer099, #_idContainer111 {
	height:377px;
	left:688px;
	position:absolute;
	top:195px;
	width:516px;
}
#_idContainer100, #_idContainer112 {
	height:77px;
	left:688px;
	position:absolute;
	top:581px;
	width:516px;
}
#_idContainer101, #_idContainer113 {
	height:77px;
	left:126px;
	position:absolute;
	top:581px;
	width:516px;
}
#_idContainer122 {
	height:600px;
	left:146px;
	position:absolute;
	top:75px;
	width:450px;
}
#_idContainer123 {
	height:77px;
	left:613px;
	position:absolute;
	top:605px;
	width:325px;
}
#_idContainer130, #_idContainer142 {
	height:51px;
	left:1055px;
	position:absolute;
	top:75px;
	width:140px;
}
#_idContainer131, #_idContainer143 {
	height:22px;
	left:902px;
	position:absolute;
	top:93px;
	width:142px;
}
#_idContainer133 {
	height:478px;
	left:597px;
	position:absolute;
	top:175px;
	width:660px;
}
#_idContainer135 {
	height:51px;
	left:496px;
	position:absolute;
	top:70px;
	width:140px;
}
#_idContainer144 {
	height:548px;
	left:130px;
	position:absolute;
	top:75px;
	width:410px;
}
#_idContainer145 {
	height:428px;
	left:637px;
	position:absolute;
	top:195px;
	width:567px;
}
#_idContainer146 {
	height:63px;
	left:637px;
	position:absolute;
	top:631px;
	width:566px;
}
#_idContainer147 {
	height:56px;
	left:130px;
	position:absolute;
	top:631px;
	width:409px;
}
#_idContainer154, #_idContainer166 {
	height:51px;
	left:1110px;
	position:absolute;
	top:75px;
	width:85px;
}
#_idContainer155, #_idContainer167 {
	height:22px;
	left:957px;
	position:absolute;
	top:93px;
	width:142px;
}
#_idContainer157 {
	height:463px;
	left:597px;
	position:absolute;
	top:175px;
	width:660px;
}
#_idContainer159 {
	height:51px;
	left:551px;
	position:absolute;
	top:72px;
	width:85px;
}
#_idContainer168 {
	height:377px;
	left:104px;
	position:absolute;
	top:195px;
	width:538px;
}
#_idContainer169 {
	height:377px;
	left:682px;
	position:absolute;
	top:195px;
	width:548px;
}
#_idContainer170 {
	height:63px;
	left:682px;
	position:absolute;
	top:581px;
	width:548px;
}
#_idContainer171 {
	height:63px;
	left:104px;
	position:absolute;
	top:581px;
	width:538px;
}
#_idContainer178, #_idContainer190 {
	height:52px;
	left:1075px;
	position:absolute;
	top:75px;
	width:120px;
}
#_idContainer179, #_idContainer191 {
	height:22px;
	left:919px;
	position:absolute;
	top:93px;
	width:141px;
}
#_idContainer181 {
	height:464px;
	left:597px;
	position:absolute;
	top:175px;
	width:660px;
}
#_idContainer183 {
	height:52px;
	left:516px;
	position:absolute;
	top:72px;
	width:120px;
}
#_idContainer192, #_idContainer216 {
	height:376px;
	left:97px;
	position:absolute;
	top:195px;
	width:570px;
}
#_idContainer193, #_idContainer217 {
	height:377px;
	left:698px;
	position:absolute;
	top:195px;
	width:542px;
}
#_idContainer194, #_idContainer218 {
	height:63px;
	left:692px;
	position:absolute;
	top:577px;
	width:548px;
}
#_idContainer195, #_idContainer219 {
	height:63px;
	left:119px;
	position:absolute;
	top:577px;
	width:548px;
}
#_idContainer202, #_idContainer214, #_idContainer226, #_idContainer238, #_idContainer250, #_idContainer262, #_idContainer274 {
	height:52px;
	left:1046px;
	position:absolute;
	top:75px;
	width:149px;
}
#_idContainer203, #_idContainer215 {
	height:22px;
	left:890px;
	position:absolute;
	top:93px;
	width:141px;
}
#_idContainer205 {
	height:465px;
	left:597px;
	position:absolute;
	top:175px;
	width:660px;
}
#_idContainer207, #_idContainer231, #_idContainer255 {
	height:52px;
	left:487px;
	position:absolute;
	top:72px;
	width:149px;
}
#_idContainer227, #_idContainer239 {
	height:21px;
	left:891px;
	position:absolute;
	top:94px;
	width:117px;
}
#_idContainer229, #_idContainer253 {
	height:462px;
	left:597px;
	position:absolute;
	top:177px;
	width:660px;
}
#_idContainer240 {
	height:364px;
	left:97px;
	position:absolute;
	top:202px;
	width:570px;
}
#_idContainer241 {
	height:364px;
	left:698px;
	position:absolute;
	top:202px;
	width:542px;
}
#_idContainer242 {
	height:63px;
	left:692px;
	position:absolute;
	top:573px;
	width:548px;
}
#_idContainer243 {
	height:63px;
	left:119px;
	position:absolute;
	top:573px;
	width:548px;
}
#_idContainer251, #_idContainer263, #_idContainer275 {
	height:22px;
	left:949px;
	position:absolute;
	top:94px;
	width:93px;
}
#_idContainer264, #_idContainer276 {
	height:414px;
	left:97px;
	position:absolute;
	top:175px;
	width:570px;
}
#_idContainer265, #_idContainer277 {
	height:414px;
	left:698px;
	position:absolute;
	top:175px;
	width:542px;
}
#_idContainer266, #_idContainer278 {
	height:63px;
	left:692px;
	position:absolute;
	top:595px;
	width:548px;
}
#_idContainer267 {
	height:68px;
	left:119px;
	position:absolute;
	top:595px;
	width:548px;
}
#_idContainer279 {
	height:63px;
	left:119px;
	position:absolute;
	top:595px;
	width:548px;
}
#_idContainer286, #_idContainer299 {
	height:52px;
	left:1093px;
	position:absolute;
	top:75px;
	width:102px;
}
#_idContainer287, #_idContainer300 {
	height:22px;
	left:990px;
	position:absolute;
	top:94px;
	width:94px;
}
#_idContainer289 {
	height:503px;
	left:597px;
	position:absolute;
	top:177px;
	width:660px;
}
#_idContainer290 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:20px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:23px;
}
#_idContainer292 {
	height:52px;
	left:534px;
	position:absolute;
	top:72px;
	width:102px;
}
#_idContainer301 {
	height:366px;
	left:685px;
	position:absolute;
	top:199px;
	width:548px;
}
#_idContainer302 {
	height:367px;
	left:98px;
	position:absolute;
	top:198px;
	width:552px;
}
#_idContainer303 {
	height:63px;
	left:686px;
	position:absolute;
	top:573px;
	width:548px;
}
#_idContainer304 {
	height:63px;
	left:102px;
	position:absolute;
	top:573px;
	width:548px;
}
#_idContainer311, #_idContainer323 {
	height:56px;
	left:1027px;
	position:absolute;
	top:75px;
	width:168px;
}
#_idContainer312, #_idContainer324 {
	height:22px;
	left:898px;
	position:absolute;
	top:94px;
	width:117px;
}
#_idContainer314 {
	height:468px;
	left:597px;
	position:absolute;
	top:177px;
	width:660px;
}
#_idContainer316 {
	height:56px;
	left:468px;
	position:absolute;
	top:72px;
	width:168px;
}
#_idContainer325 {
	height:376px;
	left:494px;
	position:absolute;
	top:299px;
	width:763px;
}
#_idContainer326 {
	height:290px;
	left:77px;
	position:absolute;
	top:87px;
	width:375px;
}
#_idContainer327 {
	height:63px;
	left:709px;
	position:absolute;
	top:253px;
	width:548px;
}
#_idContainer328 {
	height:62px;
	left:77px;
	position:absolute;
	top:385px;
	width:375px;
}
#_idContainer329 {
	height:600px;
	left:66px;
	position:absolute;
	top:51px;
	width:932px;
}
#_idContainer336 {
	height:88px;
	left:1214px;
	position:absolute;
	top:607px;
	width:43px;
}
#_idContainer337 {
	height:17px;
	left:789px;
	position:absolute;
	top:658px;
	width:411px;
}
#_idContainer338 {
	height:51px;
	left:290px;
	position:absolute;
	top:605px;
	width:910px;
}
#_idContainer340 {
	height:44px;
	left:0px;
	position:absolute;
	top:0px;
	width:33px;
}
#_idContainer341 {
	height:5px;
	left:9px;
	position:absolute;
	top:50px;
	width:14px;
}
#_idContainer342 {
	height:55px;
	left:357px;
	position:absolute;
	top:174px;
	width:33px;
}
#_idContainer343 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:23px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:349px;
}
#_idContainer344 {
	height:51px;
	left:201px;
	position:absolute;
	top:244px;
	width:382px;
}
#_idContainer345 {
	height:200px;
	left:274px;
	position:absolute;
	top:332px;
	width:200px;
}
#_idContainer347 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:53px;
}
#_idContainer349 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:124px;
}
#_idContainer351 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:259px;
}
#_idContainer353 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:16px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:202px;
}
#_idContainer355 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:13px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:199px;
}
#_idContainer348, #_idContainer346 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:52px;
}
#_idContainer352 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:15px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:288px;
}
#_idContainer354 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:13px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:141px;
}
#_idContainer350 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:123px;
}
#_idContainer356 {
	height:365px;
	left:858px;
	position:absolute;
	top:208px;
	width:291px;
}
#_idContainer358, #_idContainer360, #_idContainer362, #_idContainer359, #_idContainer363, #_idContainer357, #_idContainer365 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:77px;
}
#_idContainer364, #_idContainer366 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:16px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:76px;
}
#_idContainer361 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:17px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:76px;
}
#_idContainer367 {
	height:359px;
	left:743px;
	position:absolute;
	top:208px;
	width:111px;
}
img._idGenObjectAttribute-1 {
	height:100%;
	min-width:100%;
	width:100%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
