@font-face {
	font-family:"Adobe Kaiti Std R";
	font-style:normal;
	font-weight:normal;
	src : url("../font/AdobeKaitiStd-Regular.otf");
}
@font-face {
	font-family:"Baskerville Old Face";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BaskOldFace.TTF");
}
@font-face {
	font-family:"汉仪大宋简";
	font-style:normal;
	font-weight:normal;
	src : url("../font/HYa4gj.ttf");
}
@font-face {
	font-family:"汉仪中黑简";
	font-style:normal;
	font-weight:normal;
	src : url("../font/HYb1gj.ttf");
}
@font-face {
	font-family:"Myriad Pro";
	font-style:normal;
	font-weight:normal;
	src : url("../font/MyriadPro-Regular.otf");
}
@font-face {
	font-family:"Source Han Sans CN Light";
	font-style:normal;
	font-weight:300;
	src : url("../font/SourceHanSansCN-Light.otf");
}
@font-face {
	font-family:"Source Han Sans CN Medium";
	font-style:normal;
	font-weight:500;
	src : url("../font/SourceHanSansCN-Medium.otf");
}
@font-face {
	font-family:"Source Han Sans CN Regular";
	font-style:normal;
	font-weight:normal;
	src : url("../font/SourceHanSansCN-Regular.otf");
}
@font-face {
	font-family:Verdana;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Verdana.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.基本图形框架 {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.基本文本框架 {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#b91c22;
	font-family:"汉仪中黑简", sans-serif;
	font-size:880px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:1040px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"Baskerville Old Face", serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#787878;
	font-family:"Source Han Sans CN Regular", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#b91c22;
	font-family:Verdana, sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"汉仪大宋简", serif;
	font-size:840px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#b91c22;
	font-family:"Source Han Sans CN Medium", sans-serif;
	font-size:960px;
	font-style:normal;
	font-weight:500;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Source Han Sans CN Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-9 {
	color:#b91c22;
	font-family:"汉仪大宋简", serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#b91c22;
	font-family:"Calisto MT Regular", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#505050;
	font-family:"Source Han Sans CN Light", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-12 {
	color:#000000;
	font-family:"Adobe Kaiti Std R", serif;
	font-size:480px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer035, #_idContainer080 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:750.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1334.00px;
}
#_idContainer001 {
	-webkit-transform:translate(744.126px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:172.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(744.126px,42.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:173.57px;
}
#_idContainer002 {
	-webkit-transform:translate(830.913px,147.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:172.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(830.913px,147.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:174.17px;
}
#_idContainer003 {
	-webkit-transform:translate(764.000px,286.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:375.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(764.000px,286.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:194.00px;
}
#_idContainer004 {
	-webkit-transform:translate(905.731px,583.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:49.63px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(905.731px,583.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:52.27px;
}
#_idContainer005 {
	-webkit-transform:translate(669.043px,258.497px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:56.01px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(669.043px,258.497px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:132.00px;
}
#_idContainer006 {
	-webkit-transform:translate(560.000px,204.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(560.000px,204.524px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:106.70px;
}
#_idContainer007 {
	-webkit-transform:translate(665.992px,215.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(665.992px,215.602px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:174.17px;
}
#_idContainer008 {
	-webkit-transform:translate(115.000px,68.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:59.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(115.000px,68.274px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:375.00px;
}
#_idContainer009 {
	-webkit-transform:translate(538.506px,662.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(538.506px,662.520px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:256.99px;
}
#_idContainer010, #_idContainer022, #_idContainer033, #_idContainer038, #_idContainer043, #_idContainer046, #_idContainer049, #_idContainer052, #_idContainer055, #_idContainer058, #_idContainer061, #_idContainer064, #_idContainer067, #_idContainer072, #_idContainer074, #_idContainer076, #_idContainer079, #_idContainer081, #_idContainer083, #_idContainer085 {
	-webkit-transform:translate(1190.000px,679.180px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1190.000px,679.180px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:84.00px;
}
#_idContainer011, #_idContainer023 {
	-webkit-transform:translate(105.428px,69.795px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(105.428px,69.795px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:23.17px;
}
#_idContainer012, #_idContainer024 {
	-webkit-transform:translate(-24.907px,108.554px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-24.907px,108.554px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:171.20px;
}
#_idContainer013, #_idContainer025 {
	-webkit-transform:translate(-1.832px,143.859px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-1.832px,143.859px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:109.71px;
}
#_idContainer014, #_idContainer026 {
	-webkit-transform:translate(37.772px,39.316px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:33.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.772px,39.316px) rotate(315.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:84.09px;
}
#_idContainer015, #_idContainer027 {
	-webkit-transform:translate(170.496px,-3.974px) rotate(132.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:148.48px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(170.496px,-3.974px) rotate(132.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:124.71px;
}
#_idContainer016 {
	-webkit-transform:translate(124.699px,47.826px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.699px,47.826px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:72.54px;
}
#_idContainer017, #_idContainer029 {
	-webkit-transform:translate(195.780px,74.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:54.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(195.780px,74.771px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:47.29px;
}
#_idContainer018 {
	-webkit-transform:translate(323.000px,48.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:138.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(323.000px,48.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:413.64px;
}
#_idContainer019, #_idContainer041, #_idContainer070 {
	-webkit-transform:translate(77.798px,192.444px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:484.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.798px,192.444px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1180.00px;
}
#_idContainer020, #_idContainer031, #_idContainer042, #_idContainer071 {
	-webkit-transform:translate(84.000px,170.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(84.000px,170.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1168.00px;
}
#_idContainer021, #_idContainer032 {
	-webkit-transform:translate(800.000px,341.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:409.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(800.000px,341.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:623.52px;
}
#_idContainer028 {
	-webkit-transform:translate(124.699px,44.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.699px,44.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:72.54px;
}
#_idContainer030 {
	-webkit-transform:translate(77.798px,199.530px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:477.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.798px,199.530px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1180.00px;
}
#_idContainer034 {
	-webkit-transform:translate(60.000px,57.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:633.44px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(60.000px,57.560px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1214.00px;
}
#_idContainer036 {
	-webkit-transform:translate(425.000px,434.095px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.07px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(425.000px,434.095px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:235.00px;
}
#_idContainer037 {
	-webkit-transform:translate(425.000px,475.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:66.12px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(425.000px,475.879px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:290.00px;
}
#_idContainer039, #_idContainer068 {
	-webkit-transform:translate(77.798px,48.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:138.99px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.798px,48.512px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:413.64px;
}
#_idContainer040, #_idContainer069 {
	-webkit-transform:translate(1087.000px,93.270px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:70.59px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(1087.000px,93.270px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:157.64px;
}
#_idContainer044 {
	-webkit-transform:translate(77.000px,73.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:604.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,73.246px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:540.00px;
}
#_idContainer045, #_idContainer048, #_idContainer051, #_idContainer054, #_idContainer057, #_idContainer060, #_idContainer063 {
	-webkit-transform:translate(693.880px,140.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:473.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(693.880px,140.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:563.12px;
}
#_idContainer047, #_idContainer050, #_idContainer053, #_idContainer056, #_idContainer062 {
	-webkit-transform:translate(77.000px,51.703px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:624.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,51.703px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:540.00px;
}
#_idContainer059 {
	-webkit-transform:translate(77.000px,71.120px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:604.88px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,71.120px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:540.00px;
}
#_idContainer065 {
	-webkit-transform:translate(77.000px,74.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:602.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,74.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:540.00px;
}
#_idContainer066 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:750.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1334.00px;
}
#_idContainer073, #_idContainer075, #_idContainer077 {
	-webkit-transform:translate(77.000px,51.703px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:624.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,51.703px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1180.00px;
}
#_idContainer078 {
	-webkit-transform:translate(865.000px,170.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:356.15px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(865.000px,170.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:270.00px;
}
#_idContainer082, #_idContainer084 {
	-webkit-transform:translate(0.000px,-0.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:750.38px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,-0.375px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1334.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
